importFrom(grDevices, dev.off, png)
importFrom(stats, runif)
importFrom(methods, is)
importFrom(MASS, ginv)
importFrom(fields, image.plot)
importFrom(rTensor, as.tensor, vec)
importFrom(nnTensor, NMF)

export(
    toyModel,
    dNMF,
    dGDSVD
    )